<div class="main">
  
    
      <div class="main-container__form-container">
        <div class="form-content">
          <h1>Bienvenidos a nuestro Market Place</h1>
          <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input matInput />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Correo</mat-label>
            <input matInput />
          </mat-form-field>
          <button mat-flat-button color="primary">Inicia tu nuevo reto</button>
        </div>
      </div>
      
      
  
 
</div>
