<div class="main">
  <div class="blur">
    <div class="main-container">
      <div class="main-container__form-container">
        <h1>LOGIN</h1>
        <mat-form-field>
          <mat-label>Nombre de usuario</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Contraseña</mat-label>
          <input matInput />
        </mat-form-field>
        <a href="#">¿Olvidaste tu contraseña?</a>
        
        <button mat-flat-button color="primary">Ingresar</button>
        <span>- o -</span>
        <button mat-raised-button>
        <img src="../../../../assets/images/gicon.svg" alt="icon google" width="20px"> Ingresar con google</button>
      </div>
      <p class="nuevo">¿Eres nuevo/a con nosotros?</p>
      <a routerLink="/auth/register">Crear una nueva cuenta</a>
    </div>
  </div>
</div>
