.card-fruits-interest,
.card-vegetables-interest {
  width: 23%;
  margin-bottom: 2rem;
}

.fruits-interest,
.vegetables-interest {
  padding: 5rem 0;
}
.container-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 60vw;
  margin: 0 auto;
}
.card-rating {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.vegetables-interest {
  background: radial-gradient(#29c3c3, #1b8080);
}

.vegetables-interest__title > h2,
.fruits-interest__title > h2 {
  margin: 0 5rem 5rem 5rem;
}
.vegetables-interest__title > h2 {
  color: #fff;
}
