<app-banner></app-banner>
<section class="fruits-interest">
  <div class="fruits-interest__title">
    <H2> Futas que te pueden interesar </H2>
  </div>
  <div class="container-cards">
    <mat-card class="card-fruits-interest">
      <img
        mat-card-image
        src="https://www.ecured.cu/images/0/0e/Futass1.jpeg"
        alt="Frutas"
      />
      <mat-card-content>
        <h2>Titulo</h2>

        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan.
        </p>
        <div class="card-rating">
          <span class="material-icons"> star_rate </span>
          <span>5.0</span>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-fruits-interest">
      <img
        mat-card-image
        src="https://www.ecured.cu/images/0/0e/Futass1.jpeg"
        alt="Frutas"
      />
      <mat-card-content>
        <h2>Titulo</h2>

        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan.
        </p>
        <div class="card-rating">
          <span class="material-icons"> star_rate </span>
          <span>5.0</span>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-fruits-interest">
      <img
        mat-card-image
        src="https://www.ecured.cu/images/0/0e/Futass1.jpeg"
        alt="Frutas"
      />
      <mat-card-content>
        <h2>Titulo</h2>

        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan.
        </p>
        <div class="card-rating">
          <span class="material-icons"> star_rate </span>
          <span>5.0</span>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-fruits-interest">
      <img
        mat-card-image
        src="https://www.ecured.cu/images/0/0e/Futass1.jpeg"
        alt="Frutas"
      />
      <mat-card-content>
        <h2>Titulo</h2>

        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan.
        </p>
        <div class="card-rating">
          <span class="material-icons"> star_rate </span>
          <span>5.0</span>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-fruits-interest">
      <img
        mat-card-image
        src="https://www.ecured.cu/images/0/0e/Futass1.jpeg"
        alt="Frutas"
      />
      <mat-card-content>
        <h2>Titulo</h2>

        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan.
        </p>
        <div class="card-rating">
          <span class="material-icons"> star_rate </span>
          <span>5.0</span>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-fruits-interest">
      <img
        mat-card-image
        src="https://www.ecured.cu/images/0/0e/Futass1.jpeg"
        alt="Frutas"
      />
      <mat-card-content>
        <h2>Titulo</h2>

        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan.
        </p>
        <div class="card-rating">
          <span class="material-icons"> star_rate </span>
          <span>5.0</span>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-fruits-interest">
      <img
        mat-card-image
        src="https://www.ecured.cu/images/0/0e/Futass1.jpeg"
        alt="Frutas"
      />
      <mat-card-content>
        <h2>Titulo</h2>

        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan.
        </p>
        <div class="card-rating">
          <span class="material-icons"> star_rate </span>
          <span>5.0</span>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-fruits-interest">
      <img
        mat-card-image
        src="https://www.ecured.cu/images/0/0e/Futass1.jpeg"
        alt="Frutas"
      />
      <mat-card-content>
        <h2>Titulo</h2>

        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan.
        </p>
        <div class="card-rating">
          <span class="material-icons"> star_rate </span>
          <span>5.0</span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</section>
<section class="vegetables-interest">
  <div class="vegetables-interest__title">
    <H2> Futas que te pueden interesar </H2>
  </div>
  <div class="container-cards">
    <mat-card class="card-vegetables-interest">
      <img
        mat-card-image
        src="https://www.ecured.cu/images/0/0e/Futass1.jpeg"
        alt="Frutas"
      />
      <mat-card-content>
        <h2>Titulo</h2>

        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan.
        </p>
        <div class="card-rating">
          <span class="material-icons"> star_rate </span>
          <span>5.0</span>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-vegetables-interest">
      <img
        mat-card-image
        src="https://www.ecured.cu/images/0/0e/Futass1.jpeg"
        alt="Frutas"
      />
      <mat-card-content>
        <h2>Titulo</h2>

        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan.
        </p>
        <div class="card-rating">
          <span class="material-icons"> star_rate </span>
          <span>5.0</span>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-vegetables-interest">
      <img
        mat-card-image
        src="https://www.ecured.cu/images/0/0e/Futass1.jpeg"
        alt="Frutas"
      />
      <mat-card-content>
        <h2>Titulo</h2>

        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan.
        </p>
        <div class="card-rating">
          <span class="material-icons"> star_rate </span>
          <span>5.0</span>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-vegetables-interest">
      <img
        mat-card-image
        src="https://www.ecured.cu/images/0/0e/Futass1.jpeg"
        alt="Frutas"
      />
      <mat-card-content>
        <h2>Titulo</h2>

        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan.
        </p>
        <div class="card-rating">
          <span class="material-icons"> star_rate </span>
          <span>5.0</span>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-vegetables-interest">
      <img
        mat-card-image
        src="https://www.ecured.cu/images/0/0e/Futass1.jpeg"
        alt="Frutas"
      />
      <mat-card-content>
        <h2>Titulo</h2>

        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan.
        </p>
        <div class="card-rating">
          <span class="material-icons"> star_rate </span>
          <span>5.0</span>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-vegetables-interest">
      <img
        mat-card-image
        src="https://www.ecured.cu/images/0/0e/Futass1.jpeg"
        alt="Frutas"
      />
      <mat-card-content>
        <h2>Titulo</h2>

        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan.
        </p>
        <div class="card-rating">
          <span class="material-icons"> star_rate </span>
          <span>5.0</span>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-vegetables-interest">
      <img
        mat-card-image
        src="https://www.ecured.cu/images/0/0e/Futass1.jpeg"
        alt="Frutas"
      />
      <mat-card-content>
        <h2>Titulo</h2>

        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan.
        </p>
        <div class="card-rating">
          <span class="material-icons"> star_rate </span>
          <span>5.0</span>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-vegetables-interest">
      <img
        mat-card-image
        src="https://www.ecured.cu/images/0/0e/Futass1.jpeg"
        alt="Frutas"
      />
      <mat-card-content>
        <h2>Titulo</h2>

        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan.
        </p>
        <div class="card-rating">
          <span class="material-icons"> star_rate </span>
          <span>5.0</span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</section>
